/** @format */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1rem;
}

.read-the-docs {
  color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

.folder__main {
  background-color: #333;
  border-radius: 5px;
  padding: 7px 25px;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  margin: 5px 0;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

.input_container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input_container input {
  padding: 5px 12px;
  border-radius: 5px;
  border: none;
}
.input_container input:focus {
  outline: none;
  box-shadow: none;
}
